<!DOCTYPE html>
<html>
  <head>
    <title>MypetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=25ddb175f50f2ae8660f7bb69a80b14c&libraries=services"></script>
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
